<div class="user-container">
  <div class="acount-content-wrapper">
    <div class="acount-content-area">
      <div class="user-nav">
        <ul>
          <li class="<%= 'active' if request.fullpath == '/users/acount' %>">
            <a href="/users/acount" >アカウント</a>
          </li>
          <li class="<%= 'active' if request.fullpath == '/users/profile' %>">
            <a href="/users/profile">プロフィール</a>
          </li>
        </ul>
      </div>
      
      <div class="acount-detail-area">
        <div class="acount-detail-box">
          
          <div class="acount-content">
            <p>アカウント</p>
          </div>
          
          <div class="acount-content">
            <div class="acount-content-inner">
              <h4>メールアドレス</h4>
              <div class="acount-email">test</div>
            </div>
          </div>
          
          <div class="acount-content">
            <div class="acount-content-inner">
              <h4>パスワード</h4>
              <div class="acount-password">test</div>
            </div>
          </div>
          
          <div class="acount-content">
            <div class="acount-content-inner">
              <a class="btn edit-btn" href="/users/edit">編集</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
