<div class="top">
  <div class="top-main">
    <div class="container">
      <div class="form-frame">
        <div class="form-area">
          <p class="form-area-title">Potepan Shareでまだ体験したことのない旅をしよう</p>
          <form>
            <label for="">エリア</label>
              <input type="text" name="area" class="area-field" placeholder="東京">
            <input type="submit" name="submit" class="serch-btn" value="探す" >
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <div class="recomend-area">
    <div class="container">
      <div class="panel-area">
        <h1 class="section-title">おすすめのエリア</h1>
        <div class="panel">
          <div class="panel-item">
            <span>東京</span>
            <a href="#">
              <img class="panel-image" src="/img_tokyo.jpg">
            </a>
          </div>
          
          <div class="panel-item">
            <span>大阪</span>
            <a href="#">
              <img class="panel-image" src="/img_osaka.jpg">
            </a>
          </div>
          
          <div class="panel-item">
            <span>京都</span>
            <a href="#">
              <img class="panel-image" src="/img_kyoto.jpg">
            </a>
          </div>
          
          <div class="panel-item">
            <span>札幌</span>
            <a href="#">
              <img class="panel-image" src="/img_sapporo.jpg">
            </a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>